body {
  max-width: 320px;
  margin: auto;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

.right {
  background-color: aquamarine;
}

.left {
  background-color: blue;
}

div {
  width: 50%;
}