body {
  max-width: 320px;
  margin: auto;
  background: #420000;
  font-size: 10px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-circle {
  width: 3%;
  margin-bottom: 3px;
  margin-left: 244px;
}

.left-circle {
  width: 3%;
  margin-bottom: 3px;
}

.top {
  background-color: #420000;
  margin: 0;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
}

.bottom {
  background-color: #420000;
  margin: 0;
  width: 100%;
  position: sticky;
  bottom: 0;
  text-align: center;
}


img {
  display: block;
  max-width: 100%;
}


.ligne {
  max-width: 250px;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  border-top: 0;
  border-bottom: 0;
}

em {
  color: #FF0000;
  margin: 0;
  padding: 10px;
}

.container {
  background-color: #FF0000;
  padding: 5px;
  padding-left: 5px;
  margin-bottom: 30px;
}

.container .left .right {
  opacity: 50%;
}

.right {
  text-align: end;
  padding-right: 5px;
}

.left {
  text-align: start;
  padding-left: 5px;
}

