body {
  max-width: 320px;
  margin: auto;
  background: #420000;
}

img {
  display: block;
  max-width: 100%;
}

em {
  color: #FF0000;
}

.container {
  background-color: #FF0000;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 60%;

}
.right {
  text-align: end;
}

.left {
  text-align: start;
}

